<!-- <img src = "/images/homepagetoppicture.png" alt="people smiling" id="front_page_image"/> -->

<div class="front_page">
  <div class = "row">
    <div class = "col">
        <img src = "/images/logo.png" alt="logo" id="logo"/>
    </div>
    <div class = "col">
      <button type="button" id="loginBtn" class="btn btn-outline-primary btns btn-lg">Login</button>
      <button type="button" id="registerBtn" class="btn btn-outline-warning btns btn-lg">Register</button>
    </div>
  </div>
  <div class="row" id="title_container">
    <h1 id='front_page_title'>US is Our Campus</h1>
  </div>
</div>
<!-- <div class = "">
</div> -->







<div class="modal fade" id="loginModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/login" method="POST">
          <div class="form-group">
              <label for="Username">Username: </label>
              <input type="text" class="form-control" name="Username" id="UsernameLogin"/>
          </div>
          <div class="form-group">
              <label for="Password">Password: </label>
              <input type="text" class="form-control" name="Password" id="PasswordLogin"/>
          </div>
          <button type="submit" class="btn btn-primary" id="loginForm">Login</button>
        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">register</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/register" method="POST">
            <div class="form-group">
              <label for="Username">Username: </label>
              <input type="text" class="form-control" name="Username" id="UsernameRegister", value="{{Username}}"/>
            </div>
            <div class="form-group">
              <label for="Password">Password: </label>
              <input type="text" class="form-control" name="Password" id="PasswordRegister", value="{{Password}}"/>
            </div>
            <div class="form-group">
              <label for="First_name">First name: </label>
              <input type="text" class="form-control" name="First_name" id="First_name", value="{{First_name}}">
            </div>
            <div class="form-group">
              <label for="Last_name">Last name: </label>
              <input type="text" class="form-control" name="Last_name" id="Last_name, value="{{Last_name}}"">
            </div>
            <div class="form-group">
              <label for="Birthday">Birthday: </label>
              <input type="date" class="form-control" name="Birthday" id="Birthday", value="{{Birthday}}">
            </div>
            <div class="form-group">
              <label for="University">University: </label>
              <input type="text" class="form-control" name="University" id="University", value="{{University}}">
            </div>
            <div class="form-group">
              <label for="Email">Email: </label>
              <input type="text" class="form-control" name="Email" id="Email, value="{{Email}}"">
            </div>
            <div class="form-group">
              <label for="Phone_number">Phone number: </label>
              <input type="text" class="form-control" name="Phone_number" id="Phone_number, value="{{Phone_number}}"">
            </div>
            <div class="form-group">
              <label for="Gender">Gender: </label>
              <input type="text" class="form-control" name="Gender" id="Gender, value="{{Gender}}"">
            </div>
            <div class="form-group">
              <label for="Major">Major: </label>
              <input type="text" class="form-control" name="Major" id="Major", value="{{Major}}">
            </div>
            <button type="submit" class="btn btn-primary" id="registerForm">Register</button>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
   $('#loginBtn').on('click', function(evt){
      evt.preventDefault();
      $('#loginModal').modal('show');
   });
   $('#registerBtn').on('click', function(evt){
      evt.preventDefault();
      $('#registerModal').modal('show');
   });
</script>
