<div class="top_description">
  <img src="images/find_travel_pals.png" alt="local student"/>
  <h3 class="description des_title">Find travel pals and plan the trip together</h3>
  <h4 class="description des_subtitle">Explore a whole new city with college students across US!</h4>
  <a href="#" id="makePostBtn" ><img src="images/invite_button.png" class="postbtn" alt="invite_btn"/></a>
</div>


<div id="listContainer">
  {{#each array}}
  {{#if this.Yellow}}
  <div class="purplelistItem travelItem" id={{this.id}}>
     <div id="list_userandprofile">
         <img src={{this.Profile}} class="listP"> </img>
         <p class="yellowlistUsername purplelistU">{{this.Username}}</p>
     </div>
     <div id="list_words">
         <p id="listSchool">{{this.School}}</p>
         <p class="listWord">To <span class="purple">{{this.Location}}</span></p>
         <p class="listWord">During <span class="purple">{{this.FromDay}} - {{this.ToDay}}</span></p>
         <p id="local_description">"{{this.Description}}"</p>
     </div>
  </div>
  {{else}}
  <div class="yellowlistItem travelItem" id={{this.id}}>
     <div id="list_userandprofile">
         <img src={{this.Profile}} class="listP"> </img>
         <p class="purplelistUsername yellowlistU">{{this.Username}}</p>
     </div>
     <div id="list_words">
         <p id="listSchool">{{this.School}}</p>
         <p class="listWord">To <span class="purple">{{this.Location}}</span></p>
         <p class="listWord">During <span class="purple">{{this.FromDay}} - {{this.ToDay}}</span></p>
         <p id="local_description">"{{this.Description}}"</p>
     </div>
  </div>
  {{/if}}
  {{/each}}
</div>

<div class="modal fade" id="makePostModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Make a new post!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action="/list-creation" method="POST">
            <div class="form-group">
              <label for="Destination">Destination: </label>
              <input type="text" class="form-control" name="Destination" id="Destination", value="{{Destination}}"/>
            </div>
            <div class="form-group">
              <label for="Num_of_ppl">Number of desired people: </label>
              <input type="number" min="1" class="form-control" name="Num_of_ppl" id="Num_of_ppl", value="{{Num_of_ppl}}"/>
            </div>
            <div class="form-group">
              <label for="From">From: </label>
              <input type="date" class="form-control" name="From" id="From", value="{{From}}">
            </div>
            <div class="form-group">
              <label for="To">To: </label>
              <input type="date" class="form-control" name="To" id="To", value="{{To}}">
            </div>

            <div class="form-group">
              <label for="Description">Description: </label>
              {{!-- <input type="textarea" class="form-control" name="Description" id="Description", value="{{Description}}"> --}}
              <textarea name="Description", id="Description", class="form-control", cols="30", rows="5",  value="{{Description}}"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" id="makeNewPost">Submit!</button>
          </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
    $(document).ready( function() {
        $('#makePostBtn').on('click', function(evt){
           evt.preventDefault();
           $('#makePostModal').modal('show');
        });
         $("#To").change(function(){
           var this_time=$('#From').val();
          var this_datetime=new Date(this_time);
           var that_time=$('#To').val();
           var that_datetime=new Date(that_time);
          if(this_datetime>that_datetime){
            alert("From date should be before To date");
            $("#To").val("");
            $("#From").val("");
           }
         });

        $('.travelItem').on('click', function(evt){
          evt.preventDefault();
          url = "/travel_post/" + evt.target.id;
          console.log(event.target);
          $( location ).attr("href", url);
        })
    });

</script>
